<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <section id="pricing-tables" class="section1">
        <div class="titre">Honest Pricing</div>
        <div class="titre-2">
            Simple & honest pricing. No hidden fees. 
        </div>
        <br><br>
        <div class="container page-holder bg-cover">
            <div class="col-md-4 col-sm-6 col-xs-12 color-1">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>basic</h3>
                        <h4 class="plan-price">&nbsp;&nbsp;&nbsp;$ 9&nbsp;&nbsp;&nbsp;</h4>
                    </div>


                    <ul class="text-center">
                        <li>Rapidiously strategize value</li>
                        <li>Progressively visualize leadership </li>
                        <li>Equity invested supply chains.</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bubble-float-right">Choose Plan</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 color-2">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>PROFESSIONAL</h3>
                        <p style="background-color: yellow; margin-left: 40%; margin-right: 40%;">SAVE 20%</p>
                        <h4 class="plan-price">&nbsp;&nbsp;&nbsp;$19 &nbsp;&nbsp;&nbsp;</h4>
                    </div>


                    <ul class="text-center">
                        <li>Rapidiously strategize value</li>
                        <li>Progressively visualize leadership </li>
                        <li>Equity invested supply chains.</li>
                        <li>Proactively leverage</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bubble-float-right">Choose Plan</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 color-3">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>PREMIUM</h3>
                        <h4 class="plan-price">&nbsp;&nbsp;&nbsp;$30&nbsp;&nbsp;&nbsp;</h4>
                    </div>


                    <ul class="text-center">
                        <li>Rapidiously strategize value</li>
                        <li>Progressively visualize leadership </li>
                        <li>Equity invested supply chains.</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bubble-float-right">Choose Plan</a>
                </div>
            </div>
            
        </div>
        <span class="col-md-12 col-sm-6 col-xs-12 text-center hello" >*Prices shown per month if paid annually</span>
        
    </section>
    

</body>

</html>