
<div class="section1">
    <div  class="page-holder bg-cover">
        <nav class="navbar col-md-6">
            <div class="logo">
                <img src="../../../assets/img/logo.png" alt="">
            </div>
            <ul class="nav-links">
              <div class="menu">
                <li><a href="/">For you & family</a></li>
                <li><a href="/">For Business</a></li>
              </div>
            </ul>
          </nav>
          <br>
            <div class="col-md-12"></div>
            <div class="col-md-6">
              <div class="start">
                <h3 class="hello">Hello, We are Fincorp</h3>
                <h1 class="target">Insurance <br>
                    made easy.</h1>
                    <button class="btn-grad">Get your free Quote</button>
              </div>
            </div>
          
      </div>
      <br><br><br><br><br><br><br><br><br>
      <div style="text-align: center;">
       <h1 class="subtitle">A new take on insurance</h1> 
       <h4 class="hello">Great for individuals and business</h4> 
      </div>
</div>
<br>
<app-section2></app-section2>
<app-section3></app-section3>
<app-section4></app-section4>
<app-section5></app-section5>
<app-section6></app-section6>
<app-section7></app-section7>
<app-section8></app-section8>
<app-section9></app-section9>