<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>ADDRESS</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>400-401 West Georgia Street</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Vancouver, BC, Canada, V6B 5A1</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>+1 (123) 456 7890</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>sales@insurance.com</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>FOLLOW US</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Twitter</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>LinkedIn</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Instagram</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>ABOUT US</h5>
					<ul class="list-unstyled quick-links">
                        Compellingly myocardinate market-driven infrastructures before team driven manufactured products. Monotonectally exploit tactical markets vis-a-vis excellent deliverables. 
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">
					<p style="font-weight: bold;" class="h6">Copyright © 2019. Insurance LLC</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->