.section2 {
    background-position: left center;
    background-image: url("../../../assets/img/health-family-1.png");
    background-repeat: no-repeat;
    background-size: 60% 100%;
  }

  .contenu {
      margin-left: 40%;
      margin-right: 10%;
  }

  .list {
    align-items: center;
    margin-left: 20%;
    margin-top: -35px;
  }

  .titre {
    color: #424242;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
  }

  