<div class="section2">
    <div class="page-holder bg-cover">
        <br><br><br><br>
        <div class="contenu">
            <h1 style="color: rgb(78, 111, 220);"> Monotonectally deploy seamless data and resource maximizing systems.</h1> <br>
           <h2>Great for individuals and small families up to 4 members.</h2>
            <p>A strong, up-to-date, employee benefits health insurance program is vital for attracting and retaining good employees. It takes diligence, creativity and attention to detail to ensure you are getting the best “bang for your buck” each and every year.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="../../../assets/img/tick.png" alt="">
                    <div class="list">
                       <div class="titre">
                        Comprehensive Insurance
                       </div>
                    Dynamically repurpose e-business users rather than granular products.
                </div>
                </li>
                <li class="list-group-item">
                    <img src="../../../assets/img/tick.png" alt="">
                    <div class="list">
                       <div class="titre">
                        Support is just a call away
                       </div>
                       Rapidiously customize value-added platforms compliant action items.
                </div>
                </li>
                <li class="list-group-item">
                    <img src="../../../assets/img/tick.png" alt="">
                    <div class="list">
                       <div class="titre">
                        Say goodbye to paperwork.
                       </div>
                       Globally deliver economically sound communities relationships. 
                </div>
                </li>
              </ul>
        </div>
    </div>
</div>