<div class="section8">
    <div class="page-holder bg-cover">
        <div id="accordion" class="col-md-6" style="margin-left: 10%;">
            <div class="card">
              <div class="card-header">
                <a class="btn lien" data-bs-toggle="collapse" href="#collapseOne">
                    What are the documents required for claiming?
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body">
                    A pre-authorization form is required in case of cashless claims which are to be submitted to the TPA. Other documents might also be required and you should have the knowledge of the required documents.
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed btn lien" data-bs-toggle="collapse" href="#collapseTwo">
                    Which are the network hospitals in your vicinity?
                </a>
              </div>
              <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sunt dignissimos quod eveniet harum beatae libero, eligendi veritatis fuga iure nemo commodi laboriosam corrupti magnam? Veritatis dolor suscipit placeat quibusdam.
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed btn lien" data-bs-toggle="collapse" href="#collapseThree">
                    Will I get covered for my pre-existing illnesses?
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis laboriosam eius temporibus natus pariatur rem assumenda est alias, consequatur rerum aliquid praesentium in odio soluta veniam porro adipisci eligendi.
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-header">
                  <a class="collapsed btn lien" data-bs-toggle="collapse" href="#collapse4">
                    Is maternity covered in health insurance policies?
                  </a>
                </div>
                <div id="collapse4" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sequi enim quam vitae saepe eius odio ipsam minima, quae iure voluptas quas perspiciatis culpa error suscipit nesciunt amet assumenda sint.
                  </div>
                </div>
              </div>
          </div>
          <div class="courses-container">
            <div class="course">
                <div class="course-preview">
              <img src="../../../assets/img/shield-1.png" alt="">
                </div>
                <div class="course-info">
                    <h2>Insurance made easy</h2>
                    <h6>At fincorp, we are commited to provide top-notch services to our customers.</h6>
                    <button class="bouton">Get your free Quote</button>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
