.section8 {
    background-position: right center;
    background-image: url("../../../assets/img/family-illustration-1.png");
    background-repeat: no-repeat;
    background-size: 40% 100%;
  }

  .lien {
      color: rgb(72, 199, 238);
      font-size: medium;
      font-weight: bold;
  }

  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.courses-container {
  margin-left: 10%;
  padding: 40px;
}

.course {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 1000px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
  font-size: small;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}
.bouton {
	background-color: #1cc98b;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

