.section3 {
    background-position: left center;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .our-team h1{
    font-size: 900%;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    color: rgb(141, 141, 221);
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #83c3e6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-team .picture2 {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    color: rgb(222, 118, 232);
  }
  
  .our-team:hover .picture2::before {
    height: 100%;
  }
  
  .our-team .picture2::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #dab0e8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-team .picture3 {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    color: rgb(41, 208, 102);
  }
  
  .our-team:hover .picture3::before {
    height: 100%;
  }
  
  .our-team .picture3::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #b2eea6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  