<div class="section3">
    <div class="page-holder bg-cover">
        <br><br>
        <div style="text-align: center;">
            <h1 class="subtitle">Simplified Claims</h1>
            <h4 class="hello">Easy as One, Two, Three</h4>
        </div> 

        <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-1">
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="our-team">
                  <div class="picture">
                    <h1>1</h1>
                  </div>
                  <div class="team-content">
                    <h3 class="name">Report Claim</h3>
                    <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nunc vitae velit rutrum suscipit non et eros.</h4>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <br><br><br><br><br><br><br>
                <img style="margin-left: 40%;" src="../../../assets/img/after-blue.png" alt="">
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="our-team">
                  <div class="picture2">
                    <h1>2</h1>
                  </div>
                  <div class="team-content">
                    <h3 class="name">Claim Processing</h3>
                    <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nunc vitae velit rutrum suscipit non et eros.</h4>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <br><br><br><br><br><br><br>
                <img  style="margin-left: 40%;" src="../../../assets/img/after-pink.png" alt="">
              </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="our-team">
                  <div class="picture3">
                    <h1>3</h1>
                  </div>
                  <div class="team-content">
                    <h3 class="name">Final Settlement</h3>
                    <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nunc vitae velit rutrum suscipit non et eros.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>