<div class="section3">
    <div class="page-holder bg-cover">
        <br><br>
        <div style="text-align: center;">
            <h1 class="subtitle">Choose your Insurance</h1>
            <h4 class="hello">Keep Your Life Smile, Safe, and Wealthy</h4>
        </div> 
        <br><br><br>
        <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="../../../assets/img/home insurance-1.png">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Home Insurance</h3>
                    <h4 class="title">Insurance can have various effects on society through the way that it changes who bears the cost of losses and damage.</h4>
                  </div>
                </div>
              </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="our-team">
                  <div class="picture2">
                    <img class="img-fluid" src="../../../assets/img/car-insurance-1.png">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Car Insurance</h3>
                    <h4 class="title">Insurance can have various effects on society through the way that it changes who bears the cost of losses and damage.</h4>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="our-team">
                  <div class="picture3">
                    <img class="img-fluid" src="../../../assets/img/life-insurance-1.png">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Life Insurance</h3>
                    <h4 class="title">Insurance can have various effects on society through the way that it changes who bears the cost of losses and damage.</h4>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="our-team">
                  <div class="picture4">
                    <img class="img-fluid" src="../../../assets/img/business-insurance-1.png">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Business Insurance</h3>
                    <h4 class="title">Insurance can have various effects on society through the way that it changes who bears the cost of losses and damage.</h4>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="our-team">
                  <div class="picture5">
                    <img class="img-fluid" src="../../../assets/img/travel-insurance-1.png">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Travel Insurance</h3>
                    <h4 class="title">Insurance can have various effects on society through the way that it changes who bears the cost of losses and damage.</h4>
                  </div>
                </div>
              </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="our-team">
                  <div class="picture6">
                    <img class="img-fluid" src="../../../assets/img/other-insurance-1.png">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Other Insurance</h3>
                    <h4 class="title">Insurance can have various effects on society through the way that it changes who bears the cost of losses and damage.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>