.section1 {
    background-position: right;
    background-image: url("../../../assets/img/Composed-layer-2.png");
    background-repeat: no-repeat;
    background-size: 60% 100%;
  }

  .mot {
      margin-right: 50%;
      margin-left: 10%;
      font-size: 1.8rem;
  }

  .author {
    color: #5775e0;
    margin-left: 10%;
    font-weight: bold;
  }

  .state {
    color: #7e7e82;
    margin-left: 10%;
    font-weight: bold;
  }